.card {
    padding: 24px;

    text-align: left;

    background: #f7f7f7;
    border-radius: 40px;

    transition: background-color 0.2s ease;

    .header {
        display: flex;

        flex-flow: row nowrap;

        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 20px;
        font-weight: normal;

        color: #333;

        transition: color 0.2s ease;
    }

    .description {
        font-size: 16px;

        color: #6b6375;
    }

    &:hover {
        background: #f1f1f1;

        .title {
            color: #ff4053;
        }
    }
}

.chevron {
    display: inline-flex;

    align-items: center;
    justify-content: center;
}
