.card {
    max-width: 800px;

    padding: 24px;

    background-color: #f7f7f7;

    // border: 1px solid #e8e8e8;
    border-radius: 24px;
}

.header {
    display: flex;

    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 16px;

    .text {
        padding-left: 16px;

        text-align: left;
    }
}

.title {
    margin: 0;

    font-size: 22px;
    font-weight: 600;
}

.description {
    margin: 6px 0 0;

    font-size: 14px;

    color: #858585;
}

.currentRank {
    display: flex;

    gap: 8px;
    align-items: baseline;
}

.rank {
    font-size: 24px;
    font-weight: normal;

    color: #858585;
}

.improvement {
    font-size: 14px;
    font-weight: 500;

    color: #00a86b;
}

.decline {
    font-size: 14px;
    font-weight: 500;

    color: #e34242;
}

.chart {
    width: 100%;
    height: 320px;
}

@media (width <= 640px) {
    .card {
        padding: 18px;
    }

    .header {
        flex-direction: column;

        gap: 12px;
    }

    .chart {
        height: 280px;
    }
}
