.page {
    position: relative;

    display: grid;

    grid-template-columns: 3fr 5fr;

    gap: 16px;
    align-items: stretch;

    width: 100%;
    min-height: calc(100vh - 120px);

    overflow: hidden;
}

.pathColumn,
.chatColumn {
    min-width: 0;
}

@media (width <= 1300px) {
    .page {
        grid-template-columns: 2fr 3fr;
    }
}

@media (width <= 1100px) {
    .page {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width <= 1000px) {
    .page {
        display: flex;

        align-items: stretch;

        min-height: calc(100dvh - 120px);
    }

    .chatColumn {
        width: 100%;
        min-width: 0;
    }

    .pathColumn {
        width: 100%;
    }

    /* /training/path/:pathId */
    .page[data-session='false'] {
        .chatColumn {
            display: none;
        }
    }

    /* /training/path/:pathId/:schemeId */
    .page[data-session='true'] {
        .pathColumn {
            display: none;
        }
    }
}
