@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;

    src:
        url('../../shared/assets/fonts/manrope/Manrope_Cut_008-Medium.woff2') format('woff2'),
        url('../../shared/assets/fonts/manrope/Manrope_Cut_008-Medium.woff') format('woff'),
        url('../../shared/assets/fonts/manrope/Manrope_Cut_008-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;

    src:
        url('../../shared/assets/fonts/manrope/Manrope_Cut_008-ExtraBold.woff2') format('woff2'),
        url('../../shared/assets/fonts/manrope/Manrope_Cut_008-ExtraBold.woff') format('woff'),
        url('../../shared/assets/fonts/manrope/Manrope_Cut_008-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

:root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;
    --accent-bg: rgb(170 59 255 / 10%);
    --accent-border: rgb(170 59 255 / 50%);
    --social-bg: rgb(244 243 236 / 50%);
    --shadow: rgb(0 0 0 / 10%) 0 10px 15px -3px, rgb(0 0 0 / 5%) 0 4px 6px -2px;
    --sans: 'Manrope', system-ui, 'Segoe UI', roboto, sans-serif;
    --heading: 'Manrope', system-ui, 'Segoe UI', roboto, sans-serif;
    --mono: ui-monospace, consolas, monospace;

    font: 18px / 145% var(--sans);
    font-synthesis: none;

    color: var(--text);

    letter-spacing: 0.18px;

    color-scheme: light dark;

    background: var(--bg);

    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (width <= 1024px) {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;

    font-family: var(--sans);
    font-weight: 500;
}

#root {
    box-sizing: border-box;
    display: flex;

    flex-direction: column;

    min-height: 100svh;

    margin: 0 auto;

    text-align: center;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;

    color: var(--text-h);
}

h1 {
    margin: 32px 0;

    font-size: 56px;
    font-weight: 800;

    letter-spacing: -1.68px;

    @media (width <= 1024px) {
        margin: 20px 0;

        font-size: 36px;
    }
}

h2 {
    margin: 0 0 8px;

    font-size: 24px;
    font-weight: 800;

    line-height: 118%;

    letter-spacing: -0.24px;

    @media (width <= 1024px) {
        font-size: 20px;
    }
}

p {
    margin: 0;
}

code {
    display: inline-flex;

    padding: 4px 8px;

    font-family: var(--mono);
    font-size: 15px;

    line-height: 135%;

    color: var(--text-h);

    background: var(--code-bg);
    border-radius: 4px;
}

a {
    font: inherit;

    color: inherit;

    text-decoration: none;

    transition: color 0.25s;

    &:visited {
        color: inherit;
    }

    &:hover {
        color: #ff4053;

        text-decoration: none;
    }

    &:focus-visible {
        outline: 2px solid #0af;
        outline-offset: 3px;

        border-radius: 4px;
    }
}
