.layout {
    display: flex;

    flex-direction: column;

    width: 100%;
    max-width: 1480px;
    min-height: 100vh;

    padding: 56px 48px 0;
    margin: 0 auto;
}

.content {
    display: flex;

    flex: 1;
    flex-direction: column;

    align-items: center;
    justify-content: start;

    width: 100%;
    max-width: 1480px;
    height: 100%;

    padding-top: 32px;
    margin: 0 auto;
}

/* Планшеты */
@media (width <= 800px) {
    .layout {
        padding: 56px 32px 32px;
    }
}

@media (width <= 640px) {
    .content {
        min-height: calc(100dvh - 64px);
    }
}

/* Телефоны */
@media (width <= 400px) {
    .layout {
        padding: 56px 24px 24px;
    }
}
