.layout {
    width: 100%;
    max-width: 1480px;

    padding: 0 48px 48px;
    margin: 0 auto;
}

/* Планшеты */
@media (width <= 800px) {
    .layout {
        padding: 0 32px 32px;
    }
}

/* Телефоны */
@media (width <= 400px) {
    .layout {
        padding: 0 24px 24px;
    }
}
