// src/shared/ui/chat-date-separator/ChatDateSeparator.module.scss

.separator {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}

.label {
  padding: 6px 12px;

  border-radius: 999px;

  color: #858585;
  background-color: #f1f1f1;

  font-size: 12px;
  font-weight: 500;
}