.header {
  display: grid;
  grid-template-columns: 1fr min(25vw, 400px);
  gap: 40px;
  height: 500px;
  align-items: center;
}

.illustration {
  padding-top: 40px;
  max-width: 100%;
  object-fit: contain;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.title {
  font-size: 5rem;
  margin-bottom: 16px;
}

.description {
  max-width: 700px;
  text-align: left;
}

@media (max-width: 1400px) {

  .header {
    height: max-content;
    padding: 40px 0;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    max-width: 500px;
  }
}


@media (max-width: 860px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
  }

  .illustration {
    display: none;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
}