.counter {
    display: inline-flex;

    gap: 8px;
    align-items: center;

    padding: 8px 12px;

    font-family: var(--mono);
    font-weight: normal;

    line-height: 1;

    color: var(--text-h);

    background: var(--bg);

    // border: 1px solid var(--border);
    border-radius: 999px;

    transition: background-color 0.2s;

    &:hover {
        background: #f6f6f6;
    }
}
