.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 80px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.counters {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: 16px;
}
